@page "/person"
@using BlazorCRUD.Data;

    <EditForm Model="obj" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label>FirstName:</label>
        <InputText @bind-Value="obj.FirstName" id="fName" />
        <label>LastName:</label>
        <InputText @bind-Value="obj.LastName" id="lName" />
        <button type="submit">Submit</button>
    </EditForm>


@code {
    Person1 obj = new Person1();

    private void HandleValidSubmit()
    {
        Console.WriteLine("Data has been saved");
    }

}
